<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All AddressBooks</title>
</head>
<body>
<h1>All AddressBooks</h1>

<ul>
    <li th:each="ab : ${addressBooks}">
        <a th:href="@{'/addressbooks/' + ${ab.id}}">AddressBook [[${ab.id}]]</a>
    </li>
</ul>

<!-- Form to create a new AddressBook -->
<form action="#" method="post" onsubmit="createAddressBook(event)">
    <button type="submit">Create New AddressBook</button>
</form>

<script>
    function createAddressBook(event) {
        event.preventDefault();
        fetch('/api/addressbooks', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                window.location.href = '/addressbooks/' + data.id;
            });
    }
</script>

</body>
</html>
